{% load static %}
<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'game.js' %}"></script>
    <script>
      $(document).ready(function(){
        game.id = {{game.id}};
        game.init_stage(0);
      });
    </script>
    <style>
      html,
      body {
        height: 100%;
        margin: 0
      }

      .box {
        display: flex;
        flex-flow: column;
        height: 100%;
      }

      .box .row {
        border: 1px dotted grey;
      }

      .box .row.header {
        flex: 0 1 auto;
        /* The above is shorthand for:
        flex-grow: 0,
        flex-shrink: 1,
        flex-basis: auto
        */
      }

      .box .row.content {
        flex: 1 1 auto;
      }

      .box .row.footer {
        flex: 0 1 40px;
      }
    </style>
  </head>
  <body data-rsssl=1>
    <div class="box">
      <div class="row header" style="height:200px;">
        <div>Hey this is a header</div>
      </div>
      <div id="paint" class="row content">        
        <div style="height: 100%">
    		  <!--<canvas id="myCanvas"></canvas>-->
        </div>
  	  </div>
      <div class="row footer">
        <div>Hey this is a footer</div>
      </div>
    </div>
    <script>
    </script>
  </body>
</html>            