<html>
<body>
  <div>
      {{msg}}, {{user.username}}
    </div>
    <h1>Your Games</h1>
    {% for game in games %}
      <div>
        <span>Game {{game.id}}</span>
        <span><a href="{% url 'game_play' game.id %}">Play</a></span>
      </div>
    {% endfor %}
    <a href="{% url 'game_create' %}?play_now=True">Start a new game!</a>

</body>
</html>