<!DOCTYPE html>
{% load static %}
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
    $(document).ready(function(){
      $.getScript("{% static 'vuegame.js' %}").done(function(){
        app.user = '{{user.username}}';
        app.game_id = {{game_id}};
        app.user_id = {{user.id}};
        app.init_game_state();
      });
    });
  </script>
  <style>
    div#debug {
      background-color: pink;
    }
    .player-connected {
      color: orange;
    }
    .player-ready {
      color: green;
    }
  </style>
</head>
<body>
  <div id="drawapp">
    <div id="stats">
      <label>Player</label>
      <span>!{ user }</span>
    </div>
    <div id="prompt">
      !{ (prompts[prompt] || prompt).replace('#USER#', user) }
    </div>
    <div id="controls">
      <div v-if="my_state.username && !my_state.ready">
        <button v-on:click="ready">Ready</button>
      </div>
      <div v-if="my_state.username && prompt == 'before_start' && state.stage == 'lobby'">
        <button v-on:click="start">Start</button>
      </div>
      <div v-if="state.stage == 'lobby'">
        <div>Players</div>
        <div v-for="(player, user_id) in state.players">
          <span v-bind:class="{'player-connected':player.joined, 'player-ready':player.ready && player.joined}">!{player.username}</span>
        </div>

      </div>
    </div>
    <div id="footer">
    </div>    
    <div id="debug">
      <label>Game State</label>
      !{state}
      <label>My State</label>
      !{my_state}
      <button v-on:click="peek_state">Peek</button>
    </div>
  </div>
  <!--<script src="{% static 'vuegame.js' %}"></script>-->
  </script>
</body>
</html>